<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetoPlay_Main_Events</title>
    <link href="favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="./views/css/baseTemplateStyles.css">
    <link rel="stylesheet" href="./views/css/eventsFeedStyles.css">
</head>

<body>

    <!-- En la plantilla base solo incluimos el html que es generico a todas las plantillas que heredan de ella-->
    
        <div class="Background">
            <div class="gradientBg">
                <div class="MeetoPlay">MeetoPlay</div>
                    {% block chats %}
                        <div class="chatCard--Bg">
                            <div class="pinnedChats--Bg">
                                <div class="pinnedChats--groupHeader">
                                    <div class="pinnedChats--dropDownBtn"><button><img class="dropDownArrow" src="./views/img/dropDownArrowW.png" alt="dropdownIcon"></button>
                                    </div>
                                    <div class="pinnedChats--groupName">Chats Fijados</div>
                                </div>
                                <div class="pinnedChats">
                                    {% if followedUsers != null %}
                                        <div class="pinnedChat1">
                                            <div class="pinnedChat1Bg">
                                                <div class="pinnedChat1--profPic"><img src="{{ followedUsers[0].profilePic|raw }}" alt="profilePic"></div>
                                                <div class="pinnedChat1--userName">{{ followedUsers[0].userName }}</div>
                                                <div class="pinnedChat1--userStatus">
                                                    {% if followedUsers[0].userStatus == "Active" %}
                                                        <div class="pinnedChat1--userStatusActive"></div>
                                                    {% elseif followedUsers[0].userStatus == "DND" %}
                                                        <div class="pinnedChat1--userStatusDND"></div>
                                                    {% else %}
                                                        <div class="pinnedChat1--userStatusAFK"></div>
                                                    {% endif %}
                                                    <div class="pinnedChat1--userStatusT">{{ followedUsers[0].userStatus }}</div>
                                                </div>
                                                <div class="pinnedChat1--chatIcon"><img src="./views/img/chatIconBPW.png" alt="chatIcon"></div>
                                            </div>
                                        </div>
                                        <div class="pinnedChat2">
                                            <div class="pinnedChat2Bg">
                                                <div class="pinnedChat2--profPic"><img src="{{ followedUsers[1].profilePic|raw }}" alt="profilePic"></div>
                                                <div class="pinnedChat2--userName">{{ followedUsers[1].userName }}</div>
                                                <div class="pinnedChat2--userStatus">
                                                    {% if followedUsers[1].userStatus == "Active" %}
                                                        <div class="pinnedChat2--userStatusActive"></div>
                                                    {% elseif followedUsers[1].userStatus == "DND" %}
                                                        <div class="pinnedChat2--userStatusDND"></div>
                                                    {% else %}
                                                        <div class="pinnedChat2--userStatusAFK"></div>
                                                    {% endif %}
                                                    <div class="pinnedChat2--userStatusT">{{ followedUsers[1].userStatus }}</div>
                                                </div>
                                                <div class="pinnedChat2--chatIcon"><img src="./views/img/chatIconBPW.png" alt="chatIcon"></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="chats--Bg">
                                <div class="chats--groupHeader">
                                    <div class="chats--dropDownBtn">
                                        <button>
                                            <img class="dropDownArrow" src="./views/img/dropDownArrowW.png" alt="dropdownIcon">
                                        </button>
                                    </div>
                                    <div class="chats--groupName">Chats</div>
                                </div>
                            </div>
                            <div class="eventsChats--Bg">
                                <div class="eventsChats--groupHeader">
                                    <div class="eventsChats--dropDownBtn">
                                        <button>
                                            <img class="dropDownArrow" src="./views/img/dropDownArrowW.png" alt="dropdownIcon">
                                        </button>
                                    </div>
                                    <div class="eventsChats--groupName">Eventos</div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% block main %}
                <div class="mainCard--Bg">
                    <div class="mainCard--gradientBg">
                        {% block mainContent %}{% endblock %}
                    </div>
                </div>
                {% endblock %}
                {% block activity %}
                <div class="activityCard--Bg">
                    <div class="bfActivityCard--Bg">
                        <div class="bfActivityCard--groupHeader">
                            <div class="bfActivityCard--dropDownBtn"><button><img class="dropDownArrow" src="./views/img/dropDownArrowW.png" alt="dropdownIcon"></button>
                            </div>
                            <div class="bfActivityCard--groupName">Mejores amigos</div>
                        </div>
                    </div>
                    <div class="friendsActivityCard--Bg">
                        <div class="friendsActivityCard--groupHeader">
                            <div class="friendsActivityCard--dropDownBtn"><button><img class="dropDownArrow" src="./views/img/dropDownArrowW.png" alt="dropdownIcon"></button>
                            </div>
                            <div class="friendsActivityCard--groupName">Amigos</div>
                        </div>
                    </div>
                    <div class="followedActivityCard--Bg">
                        <div class="followedActivityCard--groupHeader">
                            <div class="followedActivityCard--dropDownBtn"><button><img class="dropDownArrow" src="./views/img/dropDownArrowW.png" alt="dropdownIcon"></button>
                            </div>
                            <div class="followedActivityCard--groupName">Seguidos</div>
                        </div>
                    </div>
                </div>
                {% endblock %}
                {% block profile %}
                <div class="profileCard--Bg">
                    <div class="userdata">
                        <div class="userdata--userProfPic">
                            <img src="{{ logedUser.profilePic }}" alt="userProfilePic">
                        </div>
                        <div class="userdata--userName">{{ logedUser.userName }}</div>
                        <div class="userdata--userStatus">
                            {% if logedUser.userStatus == "Active" %}
                                <div class="userdata--userStatusActive"></div>
                            {% elseif logedUser.userStatus == "DND" %}
                                <div class="userdata--userStatusDND"></div>
                            {% else %}
                                <div class="userdata--userStatusAFK"></div>
                            {% endif %}
                            <div class="userdata--userStatusT">{{ logedUser.userStatus }}</div>                  
                        </div>
                    </div>
                    <div class="btns">
                        <div class="btn--newEvent">
                            <img src="./views/img/newEvent.png" alt="newEventIcon">
                        </div>
                        <div class="btn--config">
                            <img src="./views/img/gear.png" alt="configIcon">
                        </div>
                    </div>
                    <div class="playingIn">Jugando en PC</div>
                    <div class="playingdata">
                        <div class="playingdata--gameLogo">
                            <img src="img/gameLogos/lolLogo.png" alt="gameLogo">
                        </div>
                        <div class="playingdata--gameName">{{ games[0].gameName }}</div>
                        <div class="playingdata--gameMode">Ranked 5 vs 5</div>
                        <div class="playingdata--gameTime">Tiempo en partida: 17:15</div>
                        <div class="playingdata--gameRank">Rango: {{ userGameStats[0].maxRank }}</div>
                        <div class="playingdata--gameLvl">Nivel: {{ userGameStats[0].level }}</div>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>


    
</body>

</html>