{% extends "baseTemplate.twig" %}

{% block mainContent %}
    <div class="scrollFeed">
        {% for event in events %}
            <div class="eventCard">
                <div class="eventCard--dropDownBtn">
                    <button><img class="dropDownArrow" src="./views/img/dropDownArrowW.png" alt="dropdownIcon"></button>
                </div>
                <div class="eventCard--gameInfo">
                    <div class="eventCard--gameInfo--gameLogo">
                        <img src="{{ (games[event.gameId-1].gameLogo)|raw }}" alt="gameLogo">
                    </div>
                    <div class="eventCard--gameInfo--gameTitle"> {{ event.eventTitle }} </div>
                    <div class="eventCard--gameInfo--gameName-gameMode"> {{ games[event.gameId-1].gameName }} - {{ event.gameMode }}</div>
                    <div class="eventCard--gameInfo--platform">Plataforma: {{ event.platform }}</div>
                </div>
                <div class="eventCard--dateInfo">
                    <div class="eventCard--dateInfo--dateB">Fecha: {{ event.dateBegin }}</div>
                    <div class="eventCard--dateInfo--timeB">Hora: {{ event.hourBegin }}</div>
                    <div class="eventCard--dateInfo--datetimeEnd">Fin del evento: {{ event.dateEnd }} - {{ event.hourEnd }}</div>
                </div>
                <div class="eventCard--requirements">
                    <div class="eventCard--requirements--title">Requesitos de inscripción:</div>
                {% if event.eventRequirementId != null %}
                    {% if eventsRequirements[(event.eventRequirementId-1)].minLvl != null %}
                        <div class="eventCard--requirement--minlvl">Nivel mínimo: &nbsp; {{ eventsRequirements[(event.eventRequirementId)-1].minLvl }}</div>
                    {% endif %}
                    {% if eventsRequirements[(event.eventRequirementId-1)].maxLvl != null %}
                        <div class="eventCard--requirement--maxlvl">Nivel máximo: &nbsp; {{ eventsRequirements[(event.eventRequirementId)-1].maxLvl }}</div>
                    {% endif %}
                    {% if eventsRequirements[(event.eventRequirementId-1)].maxRank != null %}
                        <div class="eventCard--requirement--minRank">Rango mínimo: &nbsp; {{ eventsRequirements[(event.eventRequirementId)-1].minRank }}</div>
                    {% endif %}
                    {% if eventsRequirements[(event.eventRequirementId-1)].maxRank != null %}
                        <div class="eventCard--requirement--maxlvl">Rango máximo: &nbsp; {{ eventsRequirements[(event.eventRequirementId)-1].maxRank }}</div>
                    {% endif %}
                {% else %}
                    <div class="eventCard--requirements--no">No hay requisitos</div>
                {% endif %}
                </div>
                <div class="eventCard--owner">
                    <div class="eventCard--owner--proPic"><img src="{{ users[event.eventOwnerId-1].profilePic|raw }}" alt="eventOwnerprofPic"></div>
                    <div class="eventCard--owner--userName">Evento creado por: {{ users[event.eventOwnerId-1].userName }} </div>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}

