{% extends "baseTemplate.twig" %}

{% block mainContent %}
    <div class="scrollFeed">
        {% for event in data.events %}
            <div class="eventCard">
                <div class="eventCard--dropDownBtn">
                    <button><img class="dropDownArrow" src="./views/img/dropDownArrowW.png" alt="dropdownIcon"></button>
                </div>
                <div class="eventCard--gameInfo">
                    <div class="eventCard--gameInfo--gameLogo">
                        <img src="{{ (data.games[event.gameId-1].gameLogo)|raw }}" alt="gameLogo">
                    </div>
                    <div class="eventCard--gameInfo--gameTitle"> {{ event.eventTitle }} </div>
                    <div class="eventCard--gameInfo--gameName-gameMode"> {{ data.games[event.gameId-1].gameName }} - {{ event.gameMode }}</div>
                    <div class="eventCard--gameInfo--platform">Plataforma: {{ event.platform }}</div>
                </div>
                <div class="eventCard--dateInfo">
                    <div class="eventCard--dateInfo--dateB">Fecha: {{ event.dateBegin }}</div>
                    <div class="eventCard--dateInfo--timeB">Hora: {{ event.hourBegin }}</div>
                    <div class="eventCard--dateInfo--datetimeEnd">Fin del evento: {{ event.dateEnd }} - {{ event.hourEnd }}</div>
                </div>
                <div class="eventCard--requirements">
                    <div class="eventCard--requirements--title">Requesitos de inscripción:</div>
                {% if event.eventRequirementId != null %}
                    {% if data.eventsRequirements[(event.eventRequirementId-1)].minLvl != null %}
                        <div class="eventCard--requirement--minlvl">Nivel mínimo: &nbsp; {{ data.eventsRequirements[(event.eventRequirementId)-1].minLvl }}</div>
                    {% endif %}
                    {% if data.eventsRequirements[(event.eventRequirementId-1)].maxLvl != null %}
                        <div class="eventCard--requirement--maxlvl">Nivel máximo: &nbsp; {{ data.eventsRequirements[(event.eventRequirementId)-1].maxLvl }}</div>
                    {% endif %}
                    {% if data.eventsRequirements[(event.eventRequirementId-1)].maxRank != null %}
                        <div class="eventCard--requirement--minRank">Rango mínimo: &nbsp; {{ data.eventsRequirements[(event.eventRequirementId)-1].minRank }}</div>
                    {% endif %}
                    {% if data.eventsRequirements[(event.eventRequirementId-1)].maxRank != null %}
                        <div class="eventCard--requirement--maxlvl">Rango máximo: &nbsp; {{ data.eventsRequirements[(event.eventRequirementId)-1].maxRank }}</div>
                    {% endif %}
                {% else %}
                    <div class="eventCard--requirements--no">No hay requisitos</div>
                {% endif %}
                </div>
                <div class="eventCard--owner">
                    <div class="eventCard--owner--proPic"><img src="{{ data.users[event.eventOwnerId-1].profilePic|raw }}" alt="eventOwnerprofPic"></div>
                    <div class="eventCard--owner--userName">Evento creado por: {{ data.users[event.eventOwnerId-1].userName }} </div>
                </div>
                <div class="eventCard--participants">
                    <div class="eventCard--participants--title">Participantes:</div>
                    <div class="eventCard--participants--list">
                        {% set counter=0 %}
                        {% if event.participants != null %}
                            {% for participant in session.eventParticipants[event.eventId-1] %}
                                {% if counter <= 10 %}
                                    <div class="eventCard--participants--list--participantName">{{ participant }}{{ not loop.last ? ',&nbsp;&nbsp;' : '' }}</div>
                                {% elseif counter == 11 and not loop.last %}
                                    <div class="eventCard--participants--list--participantName">...</div>
                                {% endif %}
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        {% else %}
                            <div class="eventCard--participants--list--no">No hay participantes por ahora</div>
                        {% endif %}
                    </div>
                </div>
                <div class="eventCard--dateInscriptionEnd">
                    <div class="eventCard--dateInscriptionEnd--title">Fecha límite de inscripción:</div>
                    <div class="eventCard--dateInscriptionEnd--dateTime">
                        <div class="eventCard--dateInscriptionEnd--dateTime--date">{{ event.dateInscriptionEnd }} </div>&nbsp;-&nbsp;<div class="eventCard--dateInscriptionEnd--dateTime--time"> {{ event.hourInscriptionEnd }}</div>
                    </div>
                </div>
                <div class="eventCard--slots">
                    <div class="eventCard--slots--title">Plazas: &nbsp;</div>
                    <div class="eventCard--slots--slots">
                        {% set availablesSlots = event.slots - session.eventParticipants[event.eventId-1]|length %}
                        {% set totalSlots = event.slots %}
                        <div class="eventCard--slots--slots--available">{{ availablesSlots }}</div>&nbsp;/&nbsp;<div class="eventCard--slots--slots--total">{{ totalSlots }}</div>
                    </div>
                </div>
                <div class="eventCard--btns">
                    {% if UserJoinedEvent(event.eventId, data.logedUser.userId)  %}
                    <div class="eventCard--btns--joinBtn--green--border">
                        <div class="eventCard--btns--joinBtn--green--content"><a href="unjoinEvent/{{event.eventId}}">Unido</a></div>
                    </div>
                    {% else %}
                    <div class="eventCard--btns--joinBtn--normal--border">
                        <div class="eventCard--btns--joinBtn--normal--content"><a href="joinEvent/{{event.eventId}}">Unirse</a></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}

